.radiobox{ display: block; 
	label {	background: none; position: relative; color: $black; padding-left: 30px; display: inline-block; cursor: pointer; font: 500 12px/20px $baseFF;
		&:before{content: ""; display: block; width: 20px; height: 20px; position: absolute; top: 0; left: 0; background: $white; border-radius: 50%; border: 1px $blue solid; @include time();  }
		a{ text-decoration: underline; }

		&:hover{
			&:before{ border-width: 2px; }
		}
	}
	input[type=checkbox], input[type=radio] { display: none; }
	input[type=radio]:checked + label{
		&:before{ border-width: 6px; }
		//&:after{ content: ""; display: block; width: 8px; height: 8px; background: $black; position: absolute; top: 6px; left: 6px; border-radius: 50%; }
	}

	&--white{ 
		label{ color: $white; }
	}
	 
	&--default{ 
		label{ font: 16px/20px $baseFF; color: $gray-dark;  } 
	} 

	&.error{
		label{
			&:before{ border-color: red; }
		}
	}

	@include media($xs){
		
	}
}

.checkbox{
	label{ 	background: none; position: relative; color: $black; padding-left: 30px; display: inline-block; cursor: pointer; font: 500 12px/20px $baseFF;
		&:before{content: ""; display: block; width: 20px; height: 20px; position: absolute; top: 0; left: 0; border: 1px $gray solid; background: $white; border-radius: 0; @include time(); } 
		&:after{ content: ""; display: block; width: 20px; height: 20px; background: url('../images/check.svg') 50% 50%/14px auto no-repeat; position: absolute; top: 0; left: 0; opacity: 0; border-radius: 4px; @include time(); } 
	}
	input[type=checkbox], input[type=radio] { display: none; }
	input[type=checkbox]:checked + label, input[type=radio]:checked + label{
		&:before{ background: $blue; border-color: $blue; }
		&:after{ opacity: 1; } 
	} 
	 
	input[type=checkbox]:invalid + label, input[type=radio]:invalid + label{
		&:before{ border-color: red!important; }
	}

	&--default{ 
		label{ font: 16px/20px $baseFF; color: $gray-dark;  } 
	} 

	&--white{ 
		label{ color: $white; }
	}

	/* &--btn{
		label{ padding: 5px 15px; border: 1px #dfdfdf solid; border-radius: 4px; background: $white; font: 500 13px/25px $baseFF; 
			&:after, &:before{ display: none;  }
		}
		input[type=radio]:checked + label{ background: $yellow-light; border-color: $yellow-light;  
			&:after, &:before{ display: none;  } 	
		}
	}  */

	@include media($lg){
		
	}

	@include media($xs){
		
	}
	
	&--right{
		label{padding-left: 0; padding-right: 24px;
			&:before{left: auto; right: 0;}
		}
		input[type=checkbox]:checked + label{
			&:after{  right: 0; left: auto;}
		}
	}
	
	/* &--white{
		label{ color: $white; 
			&:before{  border: 1px $white solid;  }
		}
		input[type=radio]:checked + label, input[type=checkbox]:checked + label{ color: $white; 
			&:after{ background: inline-image('../images/checkbox-on-white.svg') 50% 50%/15px auto no-repeat; }
		}
	} */

	
}

.checkbox-list, .radiobox-list{ 
	.checkbox, .radiobox{margin-bottom: 10px;
		&:last-child{margin-bottom: 0;}
	}


	@include media($xs){
		
	}
}

.checkbox-inline, .radiobox-inline{ margin-bottom: -10px; @include flex();
	.checkbox, .radiobox{margin-right: 5rem; margin-bottom: 10px; 
		&:last-child{margin-right: 0;}
	}

	@include media($lg){
		.checkbox, .radiobox{margin-right: 3rem; 
			&:last-child{margin-right: 0;}
		}
	}
}