.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon_sprite-svg--soc-1 {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon_sprite-svg--soc-2 {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon_sprite-svg--soc-3 {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
