
$title-h1: 40px/1.3 $titleFF; 
$title-h2: $title-h1;  // ?
$title-h3: bold 22px/1.3 $titleFF;
$title-h4: bold 20px/1.6 $titleFF; // ?
$title-h5: bold 18px $titleFF; // ?

$title-h1-lg: bold 40px/1.3 $titleFF; 
$title-h2-lg: bold 30px/1.3 $titleFF;
$title-h3-lg: bold 30px $titleFF; // ?
$title-h4-lg: bold 18px/20px $titleFF; // ?
$title-h5-lg: bold 18px $titleFF; // ?

$title-h1-sm: 30px/1.3 $titleFF;
$title-h2-sm: 500 24px/1.3 $titleFF;
$title-h3-sm: 28px/34px $titleFF; // ?
$title-h4-sm: 500 18px/1.6 $titleFF;
$title-h5-sm: 20px/28px $titleFF; // ?

$title-h1-xs: 24px/1.2 $titleFF;
$title-h2-xs: 24px/1.2 $titleFF;
$title-h3-xs: bold 20px $titleFF; // ?
$title-h4-xs: bold 18px $titleFF; // ?
$title-h5-xs: bold 16px $titleFF; // ?
 

$title-color: $black;

h1, .title-h1{ font: $title-h1; 
	margin: 0 0 24px 0; 

	@include media($md){
		//font: $title-h1-lg;
	}
	@include media($sm){
		//font: $title-h1-sm;
	}
	@include media($xs){
		font: $title-h1-xs;  
	}
}
h2, .title-h2{ font: $title-h2; color: $title-color; margin: 0 0 24px 0; 
	@include media($md){
		//font: $title-h2-lg;
	}
	@include media($sm){
		//font: $title-h2-sm;
	}
	@include media($xs){
		font: $title-h2-xs;
	}
}
h3, .title-h3{ font: $title-h3; color: $title-color; margin: 0 0 20px 0;  
	@include media($lg){
		//font: $title-h3-lg;
	}
	@include media($sm){
		//font: $title-h3-sm;
	}
	@include media($xs){
		font: $title-h3-xs; 
	}
}
h4, .title-h4{ font: $title-h4; color: $title-color; margin: 0 0 15px 0; 
	@include media($lg){
		//font: $title-h4-lg; margin-bottom: 20px;
	}
	@include media($sm){
		//font: $title-h4-sm; margin-bottom: 30px;
	}
	@include media($xs){
		font: $title-h4-xs;
	}
}
h5, .title-h5{ font: $title-h5; color: $title-color; margin: 0 0 15px 0; 
	@include media($lg){
		//font: $title-h5-lg;
	}
	@include media($sm){
		//font: $title-h5-sm;
	}
	@include media($xs){
		font: $title-h5-xs; 
	}
}