
mixin twoSection(data)
  .two-section.js-two-section&attributes(attributes)
    ._mright.-hide-lg
      img(src="images/two-section/mountain-right.webp", alt="")
    ._mleft.-hide-lg
      img(src="images/two-section/mountain-left.webp", alt="")

    ._container
      img(src="images/two-section/shadow.webp", alt="")._shadow

      ._mright
        img(src="images/two-section/mountain-right.webp", alt="")
      ._mleft
        img(src="images/two-section/mountain-left.webp", alt="")
      img(src="images/two-section/mountain-back.webp", alt="")._back

    ._hero
      img(src="images/two-section/hero.webp", alt="").js-scale
    img(src="images/two-section/mountains-below.webp", alt="")._below
    ._shadow2
      img(src="images/two-section/shadows2.webp", alt="")