
mixin twoSection(data)
  .two-section.js-two-section&attributes(attributes)
    ._mright.-hide-lg
      img(src="images/two-section/mountain-right.png", alt="")
    ._mleft.-hide-lg
      img(src="images/two-section/mountain-left.png", alt="")

    ._container
      img(src="images/two-section/shadow.png", alt="")._shadow

      ._mright
        img(src="images/two-section/mountain-right.png", alt="")
      ._mleft
        img(src="images/two-section/mountain-left.png", alt="")
      img(src="images/two-section/mountain-back.png", alt="")._back

    ._hero
      img(src="images/two-section/hero.png", alt="").js-scale
    img(src="images/two-section/mountains-below.png", alt="")._below
    ._shadow2
      img(src="images/two-section/shadows2.png", alt="")