
mixin threeSection(data)
  .three-section.js-three-section&attributes(attributes)
    include ../../components/two-section/template
    +twoSection()
    .js-three-section-trigger
    ._bg 
      ._bg-city.js-three-city
      img._bg-sun.js-three-sun(src="images/three-section/sun.png" alt="")

    ._container
      ._hero-center.js-three-hero-center
        ._hero-center-wrap
          img._hero-center-main.js-scale(src="images/three-section/hero-center.png", alt="")
          img._hero-center-stone(src="images/three-section/hero-center-stone.png", alt="")
          img._hero-center-shadow(src="images/three-section/hero-center-shadow.png", alt="")
          img._pixel-2.js-dotted(src="images/three-section/pixel-2.svg", alt="")
          img._pixel-5.js-dotted(src="images/three-section/pixel-5.svg", alt="")

      ._hero-left.js-three-hero-left
        ._hero-left-wrap
          img._hero-left-main.js-scale(src="images/three-section/hero-left.png", alt="")
          img._hero-left-stone-1.js-dotted( src="images/three-section/hero-left-stone-1.png", alt="")
          img._hero-left-stone-2(src="images/three-section/hero-left-stone-2.png", alt="")
          img._pixel-3.js-dotted(src="images/three-section/pixel-3.svg", alt="")
          img._pixel-4.js-dotted(src="images/three-section/pixel-4.svg", alt="")

      ._hero-right.js-three-hero-right
        ._hero-right-wrap
          ._hero-right-main
            img.js-scale(src="images/three-section/hero-right.png", alt="")
          img._hero-right-stone-1.js-dotted(src="images/three-section/hero-right-stone-1.png", alt="")
          img._hero-right-stone-2(src="images/three-section/hero-right-stone-2.png", alt="")
          img._pixel-1.js-dotted(src="images/three-section/pixel-1.svg", alt="")
          img._pixel-6.js-dotted(src="images/three-section/pixel-6.svg", alt="")