
mixin firstSection(data)
	.first-section.js-first-section&attributes(attributes)
		._container
			img(src="images/first-pexel-1.svg", alt="")._pixel-1.js-dotted
			img(src="images/first-pexel-2.svg", alt="")._pixel-2.js-dotted
			img(src="images/first-pexel-3.svg", alt="")._pixel-3.js-dotted
			img(src="images/first-pexel-4.svg", alt="")._pixel-4.js-dotted

			img(src="images/first-pexel-1.svg", alt="")._pixel-5.js-dotted
			img(src="images/first-pexel-2.svg", alt="")._pixel-6.js-dotted
			img(src="images/first-pexel-3.svg", alt="")._pixel-7.js-dotted
			img(src="images/first-pexel-4.svg", alt="")._pixel-8.js-dotted

		img(src="images/first-img-1.png", alt="")._img-1
		img(src="images/first-img-2.png", alt="")._img-2
		img(src="images/first-img-3.png", alt="")._img-3

		._shadows
			img(src="images/first-shadow-1.svg", alt="")._shadow-1
			img(src="images/first-shadow-2.svg", alt="")._shadow-2
			img(src="images/first-shadow-3.svg", alt="")._shadow-3
			img(src="images/first-shadow-4.svg", alt="")._shadow-4

		img(src="images/first-paradise.png", alt="")._paradise

		img(src="images/first-logo.png", alt="")._logo

		img(src="images/first-cloud-1.png", alt="")._cloud-1
		img(src="images/first-cloud-2.png", alt="")._cloud-2
		img(src="images/first-cloud-3.png", alt="")._cloud-3