mixin fiveSection(data)
  .five-section.js-five-section&attributes(attributes)
    ._wrapper
      ._container
        ._row 
          ._title.title-h1.js-five-title This NFT project, beginning with the vivid and dynamic Demons of Etena, invites you to partake in a saga of resurgence, power, and mystery. 
          ._text.js-five-text
            p The future of Etena hangs in the balance, its destiny intertwined with the revival of Etena Dust and the secrets it holds.
            p Join the adventure, align with a clan, and be a part of the legend that shapes the destiny of Etena.

    ._img.js-five-img
      img(src="images/five-section/five-img.png", alt="")
      //-._img-bg
      ._img-shadow
      