
mixin socialsBlock(data)
	.socials-block&attributes(attributes)
		a._icon(href="#") 
			+svg('sprite-svg--soc-1')
		a._icon(href="#")
			+svg('sprite-svg--soc-2')
		a._icon(href="#")
			+svg('sprite-svg--soc-3')