.footer {
	height: 850px;
	background: #38231e;
	position: relative;
	z-index: 5;
	//overflow: hidden;
	padding: 340px 0;

	*{
		transition: all .3s;
	}

	@media (max-height: 700px) {
		height: 650px;
	}

	&__container {
		max-width: 1345px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		padding: 0 20px;

		&--min {
			max-width: 440px;
		}
	}

	&__mountain{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: url('../images/footer/footer-mountain.png') 50% 100%/contain repeat-x;
		pointer-events: none;
	}

	&__shadow-1{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: url('../images/footer/footer-shadow-1.png') 50% 50%/auto 100% no-repeat;
		pointer-events: none;
	}

	&__shadow-2{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: url('../images/footer/footer-shadow-2.png') 0% 100%/auto 100% no-repeat;
		pointer-events: none;
	}

	&__logo{
		position: absolute;
		top: calc(-115px + var(--scale));
		left: 50%;
		//transform: translate(-50%,0%);
		//opacity: 0;
		//width: 100%;
		max-width: calc(100vw - 40px);
		z-index: 0;
		pointer-events: none;
		transition: all 0.5s linear;

		img{
			width: 100%;
			transform-origin: 50% 50%;
		}

		@include media($xlg){
			top: calc(0px + var(--scale));
		}
		@include media($lg){
			top: calc(153px + var(--scale));
		}
	}

	&__title {
		color: $milk;
		margin-bottom: 40px;
		visibility: hidden;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__buttons{
		display: flex;
		justify-content: center;
	}

	&__mountain-front {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 3;
		pointer-events: none;
	}

	&__hero {
		position: absolute;
		bottom: 0;
		right: -45px;
		z-index: 2;
		pointer-events: none;
		transition: all 0.5s linear;

		img{
			width: 100%;
			transform-origin: 50% 100%;
		}
	}

	&__up {
		position: absolute;
		bottom: 50px;
		left: 200px;
		z-index: 2;
		display: block;
		height: 313px;
		transform-origin: 50% 100%!important;
		transition: all 0.5s linear;

		img{
			display: block;
		}

		&-pixel-left{
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: -1;
			opacity: 0;
			transition: all 0.5s ease;

			img{
				transition: all 4s linear;
				animation: opacity 4s linear infinite reverse;
			}
		}
		&-pixel-right{
			position: absolute;
			top: 50%;
			right: 50%;
			z-index: -1;
			opacity: 0;
			transition: all 0.5s ease;

			img{
				transition: all 4s linear;
				animation: opacity 4s linear infinite reverse;
			}
		}
		&-arrow{
			position: absolute;
			top: 65px;
			left: 122px;
			z-index: 2;
			transition: all 0.5s ease;
		}

		&:hover &{
			&-arrow{
				top: 35px;
			}
			&-pixel-left{
				opacity: 1;
				top: 20px;
				left: 40px;
			}
			&-pixel-right{
				opacity: 1;
				top: 50%;
				right: 60px;
			}
		}

		@include media($xlg){
			left: 150px;
		}
		@include media($lg){
			left: 75px;
		}
	}

	&__bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 3;
		width: 100%;
		padding: 60px 0;
		color: $milk;
	}

	&__copyright {
		font-family: $baseFF;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 24px */
		letter-spacing: -0.16px;
		text-transform: uppercase;
	}

	&.is-sm{
		height: 520px;
		padding: 0px 0;
	}
	&.is-sm &{
		&__logo{
			top: calc(-115px + var(--scale));
			max-width: calc(100vw - 40px);
			transform: translateX(-50%);
			width: 80vw;
			
			img{
				transform: none!important;
			}
		}
	}

	&.is-xs{
		height: 520px;
		padding: 150px 0;
		overflow: hidden;
	}
	&.is-xs &{
		&__logo{
			top: auto; //calc(-25px + var(--scale));
			bottom: 100px;
			max-width: calc(100vw - 40px);
			transform: translateX(-50%)!important;
			/* transform: translateX(-0%);
			left: 0; */
			width: 100vw;
			
			img{
				transform: none!important;
			}
		}
		&__hero{
			max-width: 50%;
			right: -20px;
		}

		&__bottom {
			padding: 20px 0;
		}
	
		&__copyright {
			font-size: 12px;
		}

		&__up {
			bottom: 20px;
			left: 0px!important;
			height: 110px;
			width: 110px;
	
			&-arrow{
				top: 20px;
				left: 38px;
				width: 45px;
			}
	
			&:hover &{
				&-arrow{
					top: 35px;
				}
				/* &-pixel-left{
					opacity: 1;
					top: 20px;
					left: 40px;
				}
				&-pixel-right{
					opacity: 1;
					top: 50%;
					right: 60px;
				} */
			}
		}
	}
}
