.four-section{
	position: relative;
	z-index: 5;
	padding-top: 200px;
	background: url('../images/four-section/bg.png') 0 0/100% auto no-repeat #38231e;
	//height: 100vh;
	//background: $brown;
	padding-bottom: 500px;

	&__trigger{
		position: absolute;
		bottom: 300px;
		left: 0;
		width: 100%;
		height: 1px;
		pointer-events: none;
	}

	&__container{
		max-width: 1300px;
		margin: 0 auto;
		height: 100%;
		position: relative;
		z-index: 2;
		padding: 0 20px;
	}

	&__story{
		font: 18rem/1 $titleFF;
		color: $brown;
		position: absolute;
		top: -190px;
		left: -15px;
		z-index: -1;
		pointer-events: none;
		transition: all .4s linear;
		transform: translate3d(0,100%,0) scale(0.8);
		opacity: 0;
	}

	&__row{
		display: flex;
		justify-content: space-between;
	}

	&__info{
		flex: 1 1 auto;
		max-width: 550px;
		position: relative;

		&--s3{
			max-width: 770px;
		}
	}

	&__img{
		position: relative;
		z-index: 1;
		flex: 0 0 70%;
		max-width: 750px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		//padding-bottom: 75%;

		@include media($md){
			flex: 0 0 55%;
			max-width: 55%;
			align-items: center;
		}

		&-wrap{
			position: relative;
			z-index: 1;
			transform: translate(0,100%) scale(0.9);
			opacity: 0;
			transition: all .4s linear;
		}

		&-main{
			position: relative;
			top: -150px;
			//left: 50%;
			//transform: translate(-50%, 0%);
			max-width: none;

			img{
				transform-origin: 50% 50%;
			}

			@include media($md){
				top: -50px;
			}
		}

		&-stone{
			position: absolute;
			top: 270px;
			right: -0px;
			z-index: 3;
			max-width: none;
			transition: all 6s linear;
		}
	}

	&__cloud{
		&-1{
			position: absolute;
			top: 100px;
			left: -600px;
			z-index: 5;
			pointer-events: none;
			transform: translate3d(-100%,100%,0) scale(0.9);

			@include media($md){
				width: 90%;
			}
		}
		&-2{
			position: absolute;
			top: 100px;
			right: -300px;
			z-index: 5;
			pointer-events: none;
			transform: translate(100%,100%) scale(1.3);
			opacity: 0;

			@include media($md){
				width: 80%;
			}
		}
	}

	&__pixel{
		&-1{ 
			position: absolute;
			z-index: 5;
			top: 190px;
			right: 80px;
			transition: all 4s linear;
			animation: opacity 4s linear infinite reverse;
		}
		&-2{ 
			position: absolute;
			z-index: 5;
			top: 350px;
			left: 330px;
			transition: all 3s linear;
			animation: opacity 3s linear infinite reverse;
		}
		&-3{ 
			position: absolute;
			z-index: 5;
			top: 300px;
			left: 180px;
			transition: all 2.4s linear;
			animation: opacity 2.4s linear infinite reverse;
		}
		&-4{ 
			position: absolute;
			z-index: 5;
			top: 280px;
			right: 180px;
			transition: all 5s linear;
			animation: opacity 5s linear infinite reverse;
		}
		&-5{ 
			position: absolute;
			z-index: 5;
			top: 370px;
			right: 60px;
			transition: all 4s linear;
			animation: opacity 4s linear infinite reverse;
		}
		&-6{ 
			position: absolute;
			z-index: 5;
			bottom: 120px;
			left: 290px;
			transition: all 3.5s linear;
			animation: opacity 3.5s linear infinite reverse;
		}
		&-7{ 
			position: absolute;
			z-index: 5;
			top: 180px;
			left: 100px;
			transition: all 3s linear;
			animation: opacity 3s linear infinite reverse;
		}
		&-8{ 
			position: absolute;
			z-index: 5;
			top: 130px;
			left: 370px;
			transition: all 5s linear;
			animation: opacity 5s linear infinite reverse;
		}
		&-9{ 
			position: absolute;
			z-index: 5;
			top: 80px;
			right: 230px;
			transition: all 4.5s linear;
			animation: opacity 4.1s linear infinite reverse;
		}
		&-10{ 
			position: absolute;
			z-index: 5;
			top: 20px;
			left: 300px;
			transition: all 6s linear;
			animation: opacity 6s linear infinite reverse;
		}
		&-11{ 
			position: absolute;
			z-index: 5;
			top: 225px;
			left: 115px;
			transition: all 6s linear;
			animation: opacity 6s linear infinite reverse;
		}
		&-12{ 
			position: absolute;
			z-index: 5;
			top: 310px;
			left: 430px;
			transition: all 6s linear;
			animation: opacity 6s linear infinite reverse;
		}
		&-13{ 
			position: absolute;
			z-index: 5;
			top: 150px;
			right: 150px;
			transition: all 6s linear;
			animation: opacity 6s linear infinite reverse;
		}
	}

	&__title{
		margin-bottom: 48px;
		color: $orange;
		text-indent: 120px;
		transform: translate3d(0,100%,0);
		opacity: 0;
		transition: all .4s linear;
	}

	&__text{
		color: $milk;
		max-width: 400px;
		transform: translate3d(0,100%,0);
		opacity: 0;
		transition: all .4s linear;

		p{
			margin-bottom: 32px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	&__subtitle{
		//transform: translate3d(0,100%,0);
		//opacity: 0;
		transition: all .4s linear;
		text-transform: uppercase;
		font: 500 34px/1.3 $baseFF;
		color: $orange;
		text-indent: 120px;

		p{
			margin-bottom: 32px;
			position: relative;

			span{
				opacity: 0;
				transition: all .2s linear;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	&__planets{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: relative;
		z-index: 4;
	}

	&__planet{
		display: flex;
		align-items: center;
		color: $milk;
		margin-bottom: 100px;
		max-width: 840px;
		transform: translateY(100%);
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;

		&:first-child{
			position: relative;
		}

		&:last-child{
			margin-bottom: 0;
		}

		&-img{
			flex: 0 0 300px;
			max-width: 300px;
			margin-right: 155px;
			position: relative;
			transform-origin: 50% 50%!important;

			&:after{
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 100%;
				height: 100%;
				border-radius: 303px;
				opacity: 0.3;
				background: #E4370E;
				filter: blur(50px);
			}

			&--i2{
				&:after{
					opacity: 0.26;
					background: #F18126;
				}
			}
			&--i3{
				&:after{
					opacity: 0.26;
					background: #1579B1;
				}
			}
		}

		&-title{
			margin-bottom: 32px;
			color: $milk;
		}
	}
}