
mixin fourSection(data)
  .four-section.js-four-section&attributes(attributes)
    img._cloud-1.js-four-cloud-1(src="images/four-section/cloud-1.png", alt="")
    ._container.-s1
      ._story.js-four-story Story
      
      ._row.js-four-contain-1
        ._img.-s1
          ._img-wrap.js-four-img-1
            img._img-main(src="images/four-section/img-1.png", alt="")
            img._pixel-1.js-dotted(src="images/four-section/pexel-1.svg", alt="")
            img._pixel-2.js-dotted(src="images/four-section/pexel-2.svg", alt="")
            img._pixel-3.js-dotted(src="images/four-section/pexel-3.svg", alt="")
            img._pixel-4.js-dotted(src="images/four-section/pexel-4.svg", alt="")
            img._pixel-5.js-dotted(src="images/four-section/pexel-5.svg", alt="")
            img._pixel-6.js-dotted(src="images/four-section/pexel-6.svg", alt="")
            img._pixel-7.js-dotted(src="images/four-section/pexel-7.svg", alt="")
            img._pixel-8.js-dotted(src="images/four-section/pexel-8.svg", alt="")
            img._pixel-9.js-dotted(src="images/four-section/pexel-9.svg", alt="")
            img._pixel-10.js-dotted(src="images/four-section/pexel-10.svg", alt="")
        ._info.-s1 
          ._title.title-h1.js-four-title In the mystical realm of Etena, where the fabric of reality is woven from the threads of Etena Dust
          ._text.js-four-text-1
            p A pixelated essence vital for life itself, two ethereal species thrived: the enigmatic Angels and their counterparts, the Demons.
            p Etena was a utopia, a testament to harmony and unity, until the fateful discovery that Etena Dust could be wielded for power beyond imagination.

    ._container.-s2.js-four-contain-2
      ._row
        ._img.-s2
          ._img-wrap.js-four-img-2
            img._img-main(src="images/four-section/img-2.png", alt="")
            img._img-stone.js-dotted(data-size="150", src="images/four-section/stone.png", alt="")
            img._pixel-11.js-dotted(src="images/four-section/pexel-11.svg", alt="")
            img._pixel-12.js-dotted(src="images/four-section/pexel-12.svg", alt="")
            img._pixel-13.js-dotted(src="images/four-section/pexel-13.svg", alt="")
        ._info.-s2
          ._text.js-four-text-2
            p The peaceful coexistence was shattered. Angels and Demons, once allies in the stewardship of Etena, diverged on their philosophies of Etena Dust’s use.
            p This divergence sparked a cataclysmic battle, scattering the inhabitants & consuming the Etena Dust to near extinction. The aftermath was a world fractured, its legendary inhabitants lost to myth, and the once abundant Etena Dust a rare relic of the past.

    img._cloud-2.js-four-cloud-2(src="images/four-section/cloud-2.png", alt="") 
    ._container.-s3
      ._row.js-four-contain-3
        ._info.-s3
          ._subtitle.js-four-subtitle
            p In the shadows of a world recovering from its own greed and violence, the Demons sensed a stirring, the faint whispers of Etena Dust rekindling.
            p Amidst this resurgence, three clans of Demons emerged, ready to claim their stake in the rebirth of their world.

    ._container.-s4.js-four-contain-4
      ._planets
        ._planet.js-four-planet-1
          ._planet-img.-i1
            img(src="images/four-section/planet-1.png", alt="")
          ._planet-wrap
            ._planet-title.title-h1 The Flameborn
            ._planet-text Masters of fire, embody the ferocity and unyielding power of volcanic eruptions. Their essence is one with the molten fury of Etena, a clan where passion and strength burn eternal.

        ._planet.js-four-planet-2
          ._planet-img.-i2
            img(src="images/four-section/planet-2.png", alt="")
          ._planet-wrap
            ._planet-title.title-h1 The Voidwalkers
            ._planet-text Weavers of cosmic energies, embody the vastness and mystery of the universe. They navigate the space between stars, harnessing the celestial power to bend the fabric of reality itself.

        ._planet.js-four-planet-3
          ._planet-img.-i3
            img(src="images/four-section/planet-3.png", alt="")
          ._planet-wrap
            ._planet-title.title-h1 The Tideseekers
            ._planet-text guardians of water, embody the depth and adaptability of the ocean. Their spirits flow with the grace and relentless force of the tides, a clan as nurturing as it is formidable.
