
mixin fourSection(data)
  .four-section.js-four-section&attributes(attributes)
    ._container.-s1
      ._story Story
      ._row
        ._img.-s1 
          img(src="images/four-section/img-1.png", alt="")
        ._info.-s1 
          ._title.title-h1 In the mystical realm of Etena, where the fabric of reality is woven from the threads of Etena Dust
          ._text
            p A pixelated essence vital for life itself, two ethereal species thrived: the enigmatic Angels and their counterparts, the Demons.
            p Etena was a utopia, a testament to harmony and unity, until the fateful discovery that Etena Dust could be wielded for power beyond imagination.

    ._container.-s2
      ._row
        ._img.-s2
          img(src="images/four-section/img-2.png", alt="")
        ._info.-s2
          ._text
            p The peaceful coexistence was shattered. Angels and Demons, once allies in the stewardship of Etena, diverged on their philosophies of Etena Dust’s use.
            p This divergence sparked a cataclysmic battle, scattering the inhabitants & consuming the Etena Dust to near extinction. The aftermath was a world fractured, its legendary inhabitants lost to myth, and the once abundant Etena Dust a rare relic of the past.

    ._container.-s3
      ._row
        ._info.-s3
          ._subtitle
            p The peaceful coexistence was shattered. Angels and Demons, once allies in the stewardship of Etena, diverged on their philosophies of Etena Dust’s use.
            p This divergence sparked a cataclysmic battle, scattering the inhabitants & consuming the Etena Dust to near extinction. The aftermath was a world fractured, its legendary inhabitants lost to myth, and the once abundant Etena Dust a rare relic of the past.
